{% extends "layout.twig" %}
{% block title %}Usuário {{ user.name }}{% endblock %}
{% block page_title %}Usuário {{ user.name }}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Nome:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Status:</strong> {{ user.status }}</p>
        {% if 'user.edit' in permissions %}
        <a href="/users/{{ user.id }}/edit" class="btn btn-primary">Editar</a>
        {% endif %}
        <a href="/users" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}
